In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [6]:
data = yf.download("BTC-USD", start = "2018-01-01", end = "2022-03-20")

[*********************100%***********************]  1 of 1 completed

In [7]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-01,14112.200195,14112.200195,13154.700195,13657.200195,13657.200195,10291200000
2018-01-02,13625.000000,15444.599609,13163.599609,14982.099609,14982.099609,16846600192
2018-01-03,14978.200195,15572.799805,14844.500000,15201.000000,15201.000000,16871900160
2018-01-04,15270.700195,15739.700195,14522.200195,15599.200195,15599.200195,21783199744
2018-01-05,15477.200195,17705.199219,15202.799805,17429.500000,17429.500000,23840899072
...,...,...,...,...,...,...
2022-03-15,39664.250000,39794.628906,38310.210938,39338.785156,39338.785156,23934000868
2022-03-16,39335.570312,41465.453125,39022.347656,41143.929688,41143.929688,39616916192
2022-03-17,41140.843750,41287.535156,40662.871094,40951.378906,40951.378906,22009601093
2022-03-18,40944.839844,42195.746094,40302.398438,41801.156250,41801.156250,34421564942
2022-03-19,41794.648438,42316.554688,41602.667969,42190.652344,42190.652344,19664853187

In [14]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1539.000000,1539.000000,1539.000000,1539.000000,1539.000000,1.539000e+03
mean,19496.448280,20005.833455,18927.204759,19511.827592,19511.827592,2.579942e+10
std,17997.785741,18483.901900,17436.657130,18001.250031,18001.250031,2.074713e+10
min,3236.274658,3275.377930,3191.303467,3236.761719,3236.761719,2.923670e+09
25%,7248.951904,7387.750000,7083.859375,7247.584473,7247.584473,8.924694e+09
50%,9691.230469,9887.610352,9501.730469,9690.142578,9690.142578,2.255205e+10
75%,35447.425781,36499.953125,33545.607422,35529.019531,35529.019531,3.587061e+10
max,67549.734375,68789.625000,66382.062500,67566.828125,67566.828125,3.509679e+11

In [11]:
df = data['Close'].copy()
df

Date
2018-01-01    13657.200195
2018-01-02    14982.099609
2018-01-03    15201.000000
2018-01-04    15599.200195
2018-01-05    17429.500000
                  ...
2022-03-15    39338.785156
2022-03-16    41143.929688
2022-03-17    40951.378906
2022-03-18    41801.156250
2022-03-19    42190.652344
Name: Close, Length: 1539, dtype: float64

In [12]:
data['Close'].mean()

19511.82759166616

In [13]:
data['Close'].describe()

count     1539.000000
mean     19511.827592
std      18001.250031
min       3236.761719
25%       7247.584473
50%       9690.142578
75%      35529.019531
max      67566.828125
Name: Close, dtype: float64

In [15]:
df.mean() # same data['Close'].mean()

19511.82759166616

In [ ]:
df.rolling()